/* style Search form */
.searchform {
    width: 400px;
    background-color:#fff;
}

.searchform-line {
    height: 4px;
    border-width: 0;
    color: #9BE2F5;
    background-color: #9BE2F5
}

.search-input {
    border-bottom: 1px solid blue;
    padding: 12px;
}

.search-input input {
    width: 100%;
}

.search-input input:focus-visible {
    outline: none;
}

.search-action {
    padding: 24px;
}